{% extends 'base.html.twig' %}

{% block title %}Hello LegalsMentionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Mentions Légales </h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed dui varius, posuere mauris elementum, rutrum neque. Ut elementum porttitor leo. Aliquam quis feugiat libero. Nam arcu turpis, interdum eu mattis a, luctus vel mauris. Sed quis interdum lacus, id ornare elit. Suspendisse dignissim, nulla in tincidunt porta, urna sem interdum risus, et congue velit sem dapibus risus. Nullam rhoncus nisl eleifend lectus ultricies tristique. Vestibulum convallis lectus at lectus vestibulum pretium. Aliquam auctor sed velit vel sagittis. Aliquam erat volutpat. Aenean dignissim arcu ac mi ornare, at efficitur neque hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vitae ex sit amet nisl mattis vehicula ac id diam. Nunc libero lacus, vestibulum id turpis at, facilisis lacinia dui. Aenean aliquam maximus sapien, quis laoreet ex malesuada vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
</div>
{% endblock %}
